


body {
    background-color: bisque;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: aqua;
    width: 960px;
    margin: 0 auto;
    
}


header {
    background-color: darkgoldenrod;
    padding: 250 px;
    text-shadow: dimgrey;
    margin: 100px;
    border: 10px solid midnightblue;
}

main{
    width: 960px;
    background-color: blanchedalmond;
    margin: 0 auto;
}

.shoe {
    width: 350px;
    height: 350px;
} 

footer {
background-color: darkgoldenrod;
margin: 100px;
border: 10px solid midnightblue;
font-size: 20px;
font-family: 'Times New Roman', Times, serif;
}