


body {
    background-color: bisque;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    border-style: solid;
    border-width: thick;
    border: midnightblue;
    text-shadow: aqua;
    width: 960px;
    margin: 0 auto;
    
}
    

header {
    background-color: darkgoldenrod;
    text-shadow: dimgrey;
    border-style: solid;
    border-width: thick;
    border: midnightblue;
    margin: 100px;
    
}

main{
    width: 960px;
    background-color: blanchedalmond;
    margin: 100px;
    margin: 0 auto;
}

.shoe {
    width: 350px;
    height: 350px;
} 

footer {
background-color: darkgoldenrod;
border-style: solid;
margin: 100px;
border: midnightblue;
border-width: thick;
font-size: 20px;
font-family: 'Times New Roman', Times, serif;
}